// Import Carbon styles
@use "@carbon/react";

// Global styles
body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

// Layout styles
main {
  padding-top: 3rem;
}

// Add more custom styles as needed
.expandable-data-table-item {
  .cds--accordion__content {
    padding: 0rem !important;
    padding-inline-end: 0rem !important;
  }
  .cds--accordion__wrapper {
    padding-block: 0rem !important;
    padding-block-end: 0rem !important;
  }
  .cds--child-row-inner-container {
    padding-block: 0rem !important;
    padding-block-end: 0rem !important;
    p {
      font-size: 14px;
      font-weight: 600;
      padding: 0.5rem;
    }
  }
}
